.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  #companyname{ font-size: 20px; font-weight: 900; margin: 10px 0; }
  #slogan { font-size: 12px; margin-top: 0;}
  
  .nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    text-decoration: none;
    color: yellow;
    transform: scale(0.9);
  }

  body.dark .navbar {
    background-color: #0b0f1a; /* deep navy blue */
    color: #e0e0e0;
  }
  
  body.dark .nav-links a {
    color: #e0e0e0;
  }
  
  body.dark .nav-links a:hover {
    color: #1e90ff; /* soft blue hover */
  }